/* This file contains the global page styles for headers footers and menus */
html,
body {
	background-image: url(images/back2.png);
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial;
	font-size: 12px;
}

#container {
	min-height: 100%;
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgb(0, 0, 0) 1px 1px 4px 0px;
	background: #FFFFFF; 
}

/* css for header */

header {
	height: 100px;
	overflow: hidden;
}

#logo {
	height: 100px;
	width: 250px;
	display: block;
	float: left;
	background-image: url(images/logo.png);
}

#headerright {
	margin-left: 250px;
	margin-top: 45px;
	font-size: 15px;
	font-weight: 600;
}

#navlist1 li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#search {
	padding-left: 35px;
}

/* css for product category navigation */

#nav {
	background-image: url(images/navback.png);
	height: 34px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	font-size: 15px;
	font-weight: 600;
	overflow: hidden;
}

#fixheight {
	margin-top: 0px;
	padding-left: 8px;
}

#navbar {
	margin: 0;
	padding: 0;
	height: 1em; 
}

#navbar li {
	list-style: none;
	float: left; 
}

#navbar li a {
	display: block;
	padding: 8px 8px;
	margin-right: 8px;
	color: #fff;
	text-decoration: none; 
}
	
#navbar li ul {
	display: none; 
	font-size: 12px;
	font-weight: normal;
}

#navbar li:hover ul, #navbar li.hover ul {
	display: block;
	position: absolute;
	z-index: 1;
	margin: -1px;
	padding: 0; 
}
	
#navbar li:hover li, #navbar li.hover li {
	float: none; 
}
	
#navbar li:hover li a, #navbar li.hover li a {
	background-color: #FFFFFF;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #000000;
	color: #000000; 
	padding: 3px 8px;
}

.lastdrop {
	border-bottom: 1px solid;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
	
#navbar li li a:hover {
	color: #990000;
}

#navbar a:link, #navbar a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#navbar a:hover {
	background: #FFFFFF;
	color: #990000;
}

#cart {
	padding-left: 45px;
}

/* css for content */

#body {
	padding-bottom: 65px;
}

#main {

}

#adspace {
	width: 260px;
	height: 310px;
	border: 1px solid;
	background: #CCCCCC;
	margin-left: 680px;
	margin-top: 15px;
	border-radius: 7px;
	padding: 20px;
	text-align: center;
}

#popularProducts {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border: 3px dotted;
	border-color: #E4E4E4;
}

#bestselltitle {
	font-weight: 200;
	font-size: 220%;
	letter-spacing: -2px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.bestsellproduct {
	display: inline-block;
	width: 180px;
	height: 250px;
	border: 1px solid;
	border-color: #CCCCCC;
	border-radius: 9px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.bestsellproduct:hover {
	border: 1px solid;
	border-color: #990000;
	background: #FFF0F0;
	color: #000000;
}

.bestsellimage {
	width: 150px;
	height: 150px;
	margin-left: 15px;
	margin-top: 10px;
}

.producttitle {
	text-align: center;
}

.productprice {
	text-align: center;
	font-weight: 180;
	font-size: 220%;
	letter-spacing: -2px;
	margin-top: -5px;
	margin-bottom: 0px;
}

/* css for footer */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	
	color: #999999;
	text-align: center;
	font-size: 11px;

	border-top: 3px dotted;
}

footer > p > a:link, footer > p > a:visited {
	color: #999999;
}

footer > p > a:hover {
	text-decoration: underline;
}

/* CSS for the slider on home page */

#slidercontainer {
	margin-left: 20px;
	width: 640px;
	height: 360px;
	overflow: hidden;
	float: left;
}

#slider { 
	margin-left: -40px;
	margin-top: -10px;
	position: relative; 
	overflow: auto; 
	float: left;
}

#slider li { 
	list-style: none; 
}
	
#slider ul li {
	float: left;
}

/* formating link hover colours */

a:link, a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #990000;
}
